<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rs.ac.bg.fon.cinema.mapper.HallMapper">

	<resultMap type="Hall" id="HallMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
	</resultMap>

	<!-- public long count(); -->
	<select id="count" resultType="Long">
		SELECT count(*) FROM halls
	</select>


	<!-- public Hall getById(Long id); -->
	<select id="getById" parameterType="long" resultMap="HallMap">
		SELECT h.*
		FROM halls h
		WHERE h.id = #{id}
	</select>

	<!-- public int insert(Hall entity); -->
	<insert id="insert" parameterType="Hall">
		<selectKey order="BEFORE" resultType="long" keyProperty="id">
			select sq_halls.nextval from dual
		</selectKey>
		INSERT INTO halls(id, name)
				VALUES (#{id}, #{name})
	</insert>

	<!-- public int update(Hall entity); -->
	<update id="update" parameterType="Hall">
		UPDATE halls
		SET
		name = #{name}
		WHERE
		id = #{id}
	</update>

	<!-- public int deleteById(Long id); -->
	<delete id="deleteById" parameterType="long">
		DELETE
		FROM halls 
		WHERE
		id = #{id}
	</delete>


</mapper>